body{
	background: #f5f5f5;
}
.cart{
	padding-top: 40px;
	color: #333;
}
.cart .cart_title{
	font-weight: 600;
	line-height: 2;
}
.cart .cart_title em{
	color: #444;
	font-size: 1.3em;
}
.cart .cart_title .title_num{
	position: relative;
    display: inline-block;
    margin-left: 20px;
    padding: 0 .8%;
    line-height: 22px;
    border: solid 1px #e4393c;
    border-left: none;
    color: #e4393c;
    cursor: pointer;
}
.cart .cart_title .title_num_border{
	display: inline-block;
    width: 14px;
    height: 24px;
    background: url(../images/ico_mui.png) no-repeat -151px 0;
    position: absolute;
    left: -13px;
    top: -1px;
}
.cart_box dl{
	border: solid 1px #ccc;
    background: #fff;
}
.cart_box dt{
	padding: 0 10px;
    height: 40px;
    background: #f7f5fa;
    border-bottom: solid 1px #ccc;
}
.cart_box dt span{
	text-align: center;
	line-height: 3em;
	float: left;
	width: 8.3%;
}
.cart_box dt span em{
	margin-left: 20px;
}
.cart_box dt span:nth-child(1),.cart_box dd div:nth-child(1){
	width: 41.6%;
	margin-top: 0;
}
.cart_box dt span:nth-child(2),.cart_box dt span:nth-child(4),.cart_box dd div:nth-child(2),.cart_box dd div:nth-child(4){
	width: 16.6%;
}
.cart_box dd{
	padding: 10px;
    color: #333;
    border-bottom: dotted 1px #ccc;
}
.cart_box dd div{
	width: 8.3%;
	float: left;
	text-align: center;
	margin-top: 10px;
}

.cart_box dd img{
	width: 14%;
	display: block;
	margin: 1%;
	max-height: 100px;
	border: 1px solid #ccc;
	float: left;
}
.cart_box dd .goods_name{
	display: block;
	width: 55%;
    float: left;
    padding: .5% 0 0 3%;
    line-height: 1.8em;
   font-size: 12px;
}
.cart_box dd .c_buy{
	margin-top: 1.5%;
    padding: .05em 2em;
    background: #ec5766;
    color: #fff;
    float: left;
}
.cart_box dd b{
	font-weight: 600;
    display: block;
    text-indent: 1.5em;
    font-size: 14px;
}
.cart_box .goods_num{
	display: block;
	width: 100px;
	margin: 0 auto 15px;
	overflow: hidden;
}
.cart_box .goods_num a{
	display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #d9d9d9;
    background-color: #f7f7f7;
    float: left;
    cursor: pointer;
    outline: 0;
}
.cart_box .goods_num input{
	width: 36px;
    height: 17px;
    padding: 4px 5px;
    line-height: 17px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #d9d9d9;
    float: left;
    text-align: center;
    color: #565656;
    outline: 0;
}
.cart_box dd .qc{
	margin: 6px 0 0 16px;
    display: inline-block;
    width: 13px;
    height: 17px;
    background: url(../images//ico_mui.png) no-repeat -130px -96px;
    transition: all .3s ease 0s;
    opacity: 0.4;
}
.cart_box dd .qc:hover{
	opacity: 1;
}
.cart .cart_box dd .buy{
	position: relative;
    padding: 30px 20px;
    min-height: 80px;
    background: #fdfbf2;
    line-height: 1.8em;
    width: 96.6%;
    font-size: 12px;
}
.cart_box dd .buy p{
	text-align: right;
	padding-bottom: 15px;
}
.cart_box dd .buy .buy_btn{
	background: #e61000;
    padding: .8% 4%;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    transition: all .3s ease 0s;
}
.cart_box dd .buy .buy_btn:hover{
	background: darkred;
}

